.fileviewer {
	position: fixed;
	height: calc(100vh - 110px);
	width: calc(100vw - 40px);
	top: 90px;
	left: 20px;
	background-color: white;
	z-index: 200;
	display: none;
}

.fileviewerheader {
	background-color: #7891b0;
	padding: 5px;
	color: white;
}

.pipelineviewmenuicon {
	height: 10px;
}

.fileviewermenu {
	display: inline-block;
}

.fileviewermenu:hover .fileviewermenuoptions {
	display: block;
}

.fileviewermenuoptions {
	position: absolute;
	display: none;
	background-color: #d7d7d7;
	padding: 5px;
	font-size: 12px;
	color: black;
	width: 150px;
}

.fileviewermenuoption:hover {
	background-color: #acb2ba;
}

.fileviewermenuoption:hover .fileviewermenuelements {
	display: block;
}

.fileviewermenuelements {
	position: absolute;
	display: none;
	background-color: #d7d7d7;
	padding: 5px;
	font-size: 12px;
	color: black;
	width: 200px;
	left: 150px;
	top: -20px;
}

.fileviewermenuelement:hover {
	background-color: #acb2ba;
}

.fileviewermenuelement input {
	width: 100px;
}

.fileviewerarea {
	height: calc(100vh - 196px);
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 20px;
}

.fileviewercloseicon {
	height: 10px;
	float: right;
}

.fileviewersave {
	position: fixed;
	height: 300px;
	width: 400px;
	top: calc(50vh - 150px);
	left: calc(50vw - 200px);
	background-color: white;
	z-index: 200;
	text-align: center;
	display: none;
}

.fileviewersaveheader {
	background-color: #7891b0;
	padding: 5px;
	color: white;
	text-align: left;
}

.fileviewersavebutton {
	display: inline-block;
	width: 100px;
	padding: 5px;
	background-color: 7891b0;
	text-align: center;
}

.fileviewersaverow {
	display: inline-block;
	font-size: 12px;
	padding: 5px;
	float: left;
}

.fileviewersaverow div {
	display: inline-block;
	color: black;
	width: 100px;
	text-align: left;
}

.fileviewersavegauze {
	position: fixed;
	top: 0px;
	left: 0px;
	height: calc(100vh);
	width: calc(100vw);
	background-color: black;
	opacity: 0.4;
	display: none;
}

.mrcframe {
	display: inline-block;	
}

.mrcframeselected {
	box-sizing: border-box;
	border: 2px solid orange;
	display: inline-block;
}
