.fileselector{
	position: fixed;
	height: 400px;
	width: 600px;
	top: calc(50vh - 200px);
	left: calc(50vw - 300px);
	background-color: white;
	z-index: 200;
	text-align: center;
	display: none;
}

.fileselectorheader {
	background-color: #7891b0;
	padding: 5px;
	color: white;
	text-align: left;
}

.fileselectorbutton {
	display: inline-block;
	width: 100px;
	padding: 5px;
	background-color: 7891b0;
	text-align: center;
}

.fileselectorcolumn {
	width: 577px;
	height: 310px;
	font-size: 12px;
	border-color: #d7d7d7;
	text-align: left;
	border-width: 2px;
	border-style: solid;
	margin: 10px;
}

.fileselectortable {
	display: block;

	font-size: 12px;
}

.fileselectortable tr:nth-child(odd) {
	background-color: rgb(201, 218, 240);
}

.fileselectortable td {
	padding-left: 10px;
	padding-right: 10px;
	width: 1%;
}	

.fileselectorfolderimage {
	height: 12px;
}

.fileselectorselected {
	background-color: orange;
}

.fileselectordirectory {
	font-size: 12px;
	margin: 5px;
	border: none;
	width: 90%;
}

.fileselectortablecontainer {
	overflow-y: scroll;
	height: 280px;
}
