.header {
	width: 100%;
	text-align: center;
	padding-top: 20px;
	height: 70px;
	background-color: white;
}

.headerimage {
	width: 250px;
}

.headermenu {
	float: left;
	position: absolute;
	left: 50px;
	top: 22px;
}

.headermenu .hoverdiv {
	width: 150px;
	text-align: left;
	padding: 5px;
	display: none;
	position: absolute;
	background-color: #d7d7d7;
	font-size: 12px;
	left: 40px;
	top: 20px;
}

.headermenu .hoverdiv div:hover{
	background-color: #acb2ba;
}


.headermenu:hover .hoverdiv {
	display: block;
}
	
.projectselector {
	position: absolute;
	right: 50px;
	top: 20px;
	font-size: 14px;
}
		
.projectselector select{
	border: none;
}
