.job{
	position: fixed;
	height: 400px;
	width: 600px;
	top: calc(50vh - 200px);
	left: calc(50vw - 300px);
	background-color: white;
	z-index: 200;
	text-align: center;
	display: none;
}

.jobheader {
	background-color: #7891b0;
	padding: 5px;
	color: white;
	text-align: left;
}

.jobdescription {
	display: none;
}

.jobcolumn {
	width: 440px;
	height: 328px;
	font-size: 12px;

	text-align: left;
	display: none;
	margin-bottom: 5px;
}

.jobcolumnselect {
	width: 135px;
	display: inline-table;
	height: 328px;
	font-size: 12px;
	background-color: #d7d7d7;
	text-align: left;
	margin-bottom: 5px;
}

.jobcolumnheader {
	padding-left: 5px;
	background-color: #7891b0;
	color: white;
	height: 20px;
}

.jobtabselect {
	padding: 5px;
}

.jobtabselect:hover{
	background-color: #acb2ba;
}

.jobcolumnrow {
	padding: 5px;
}

.parameters{
	display: inline-table;
}

.jobargname{
	width: 150px;
	display: inline-block;
	vertical-align: top;
}

.jobarg {
	border: none;
}

.distr {
	display: none;
}

.jobclose {
	position: absolute;
	right: 2px;
	top: 2px;
}

.jobworkflowheader { 
	background: #7891b0;
	display: inline-block;
	height: 30px;
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	position: relative;
	width: 100px;
}

.jobworkflowheader:before { 
	border-top: 15px solid transparent;
	border-left: 17px solid #7891b0;
	border-bottom: 15px solid transparent;
	content: "";
	height: 0;
	left: 100px;
	position: absolute;
	top: 0px;
	width: 0;
}

.jobworkflowpage {
	height: 286px;
	font-size: 12px;
	text-align: left;
	margin: 5px;
	overflow-y: scroll;
}

.jobworkflowbuttons {
	float: right;
	margin-right: 5px;
}

.jobbody {
	display: none;
}

.jobarg {
	border: solid #7891B0 1px;
}
