.newjob{
	position: fixed;
	height: 400px;
	width: 600px;
	top: calc(50vh - 200px);
	left: calc(50vw - 300px);
	background-color: white;
	z-index: 200;
	text-align: center;
	display: none;
}

.newjobheader {
	background-color: #7891b0;
	padding: 5px;
	color: white;
	text-align: left;
}

.newjobbutton {
	display: inline-block;
	width: 100px;
	padding: 5px;
	background-color: #7891b0;
	text-align: center;
}

.newjobcolumn {
	width: 250px;
	display: inline-block;
	height: 270px;
	font-size: 12px;
	text-align: left;
	margin-bottom: 5px;
	overflow-y: scroll;
}

.newjobdescriptioncolumn{
	width: 250px;
	display: inline-block;
	height: 270px;
	font-size: 12px;
	text-align: left;
	margin-bottom: 5px;
	overflow-y: hidden;
}

.newjobcolumnheader {
	padding-left: 5px;
	color: black;
	height: 20px;
}

.newjobworkflow {
	padding: 5px;
}

.newjobjob {
	padding: 5px;
}

.newjobjob:hover{
	background-color: #acb2ba;
}

.advanced {
	display: none;
}

.standard {
	display: block;
}

.newjobworkflowheader { 
	display: inline-block;
	height: 30px;
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	position: relative;
	width: 100px;
	font-size: 12px;
}

.newjobworkflowbutton { 
	background: #7891b0;
	display: inline-block;
	height: 30px;
	position: relative;
	width: 90px;
	font-size: 12px;
	padding: 2px;
}
