body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	overflow: hidden;
	background-image: linear-gradient(#FFFFFF, #59779E);
}

.header {
	width: 100%;
	text-align: center;
	padding-top: 20px;
	height: 90px;
}

.headerimage {
	width: 350px;
}

.headermenu {
	float: left;
	position: absolute;
	left: 50px;
	top: 40px;
}

.headermenu .hoverdiv {
	width: 150px;
	text-align: left;
	padding-left: 5px;
}

.headermenu:hover .hoverdiv {
	display: block;
}	

.body {
	height: calc(100vh);
	overflow: hidden;
	padding-left: 50px;
	padding-right: 50px;
}

.bodydiv {
	background-color: rgb(255, 255, 255);
}

.bodytoolbar {
	height: 30px;
	margin-bottom: 20px;
}
	
.historytable {
	width: 100%;
	display: block;
	overflow-y: scroll;
	height: 0px;
	transition: height 0.2s;
	white-space: nowrap;
}
	
.historytable tr:nth-child(odd) {
	background-color: rgb(201, 218, 240);
}

.historytable td {
	padding-left: 10px;
	padding-right: 10px;
}	

.projectselector {
	position: absolute;
	right: 50px;
	top: 20px;
}
		
.projectselector select{
	vertical-align: bottom;
}

.bodyheader {
	background-color: #cfcfcf;
	font-size: 18px;
	padding: 10px;
	text-align: left;
	height: 30px;
	padding-bottom: 5px;
}

.bodyheader:hover {
	background-color: #959595;
}

.bodyheader:hover .hoverdiv {
	display: block;
}

.bodybutton {
	display: inline-block;
}

.bodybutton .hoverdiv {
	   text-align: left;
}

.bodybutton:hover {
	background-color: #6a85a8;
}

.bodybutton:hover .hoverdiv {
	display: block;
}

.clickbutton {
	display: inline-block;
	width: 170px;
	height: 20px;
	margin-top: 5px;
	padding: 5px;
	text-align: center;
	border-style: solid;
	border-color: rgb(154, 172, 196);
	border-width: 5px;
	margin-left: 5px;
}

.clickbuttoncontainer {
	text-align: center;
}

.clickbutton:hover {
	background-color: #959595;
}

.hoverdiv {
	display: none;
	width: 350px;
	position: absolute;
	border-style: solid;
	padding: 5px;
	background-color: white;
	z-index: 100;
}

.hoverdiv div:hover {
	background-color: #6a85a8;
}

.hoverdiv input {
	width: 150px;
}

.hoverdiv label {
	width: 150px;
}

.taskbutton {
	width: 200px;
	height: 40px;
	text-align: center;
	border-style: solid;
	border-color: rgb(154, 172, 196);
	border-width: 5px;
}

.taskbutton:hover{
	background-color: #cfcfcf;
}

.taskbutton:hover .taskdescription {
	display: block;
}

.taskdescription{
	visibility: hidden;
	max-width: 600px;
}

.taskwindow {
	text-align: center;
	height: 100%;
}

.taskrow:hover .taskdescription{
	visibility: unset;
}

.tasklisttable {
	overflow-y: scroll;
	max-height: calc(100vh - 370px);
	margin: auto;
	text-align: left;
	margin-top: 20px;
}

.taskhelp:hover .hoverdiv{
	display: block;
}

.tasktable {
	overflow-y: scroll;
	max-height: calc(100vh - 330px);
	margin: auto;
	padding-left: 20px;
	text-align: left;
	border-collapse: collapse;
	margin-top: 20px;
	display: block;
}

.taskheader {
	border-style: solid;
	border-color: rgb(154, 172, 196);
	border-width: 5px;
	white-space: nowrap;
}

.taskheader td{
	padding: 5px;
}

.taskheaderline {
	display: table-row;
}

.taskrequiredline {
	display: table-row;
}

.taskoptionalline {
	display: none;
}

.micrographimgdeselected {
	border-style: solid;
	border-color: black;
	border-width: 5px;
	margin: 2px;

	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
}

.micrographimgselected {
	border-style: solid;
	border-color: #da8428;;
	border-width: 5px;
	margin: 2px;

	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
}

.popupheader {
	font-size: 20px;
	padding: 5px;	
}

.popuptable {
	width: 100%;
	display: block;
	overflow: auto;
}

.popupfiletable {
	width: 100%;
	display: block;
	overflow: auto;
}

.popupfiletable tr:nth-child(odd) {
	background-color: rgb(236, 236, 236);
}

.pipelineviewboxselect{
	position: absolute;
	width: 800px;
	height: 800px;
	top: calc(50% - 400px);
	left: calc(50% - 400px);
	background-color: white;
	display: none;
}

.pipelineviewsave{
	position: absolute;
	height: 400px;
	width: 400px;
	top: calc(50% - 200px);
	left: calc(50% - 200px);
	background-color: white;
	display: none;
	z-index: 100;
}

.pspecdiv,.thumbdiv,.paramsdiv{
	float: left;
	display:flex;
	overflow: hidden;
	height: 250px;
	width: 250px;
	justify-content: center;
	align-items: center;
}

.pipelineimg img{
	flex: none;
}

.pipelineview table{
	margin: auto;
}

.pipelineviewmicrograph {
	width: 750px;
	display: inline-block;
	margin-left: 5px;
	padding: 10px;
}

.tasklist {
	height: calc(100% - 75px);
	overflow-y: auto;
}

#gauze {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: whitesmoke;
	opacity: 0.5;
	top: 0px;
	left: 0px;
	display: none;
}

#filebrowserpopup {
	position: absolute;
	height: 428px;
	width: 600px;
	top: calc(50% - 200px);
	left: calc(50% - 300px);
	background-color: white;
	display: none;
	z-index: 200;
	border-style: solid;
	border-color: rgb(154, 172, 196);
	border-width: 5px;
}

#taskdiv{
	height: 0px;
	margin-top: 10px;
	transition: height 0.2s;
	overflow: hidden;
}

#filebrowserlisttable{
	overflow: auto;
	height: 300px;
	display: block;
}

#filesviewsave {
	position: absolute;
	height: 400px;
	width: 600px;
	top: calc(50% - 200px);
	left: calc(50% - 200px);
	background-color: white;
	display: none;
	z-index: 100;
}

#folderselectorpopup {
	position: absolute;
	height: 408px;
	width: 400px;
	top: calc(50% - 200px);
	left: calc(50% - 200px);
	background-color: white;
	display: none;
	z-index: 200;
	border-style: solid;
	border-color: rgb(154, 172, 196);
	border-width: 5px
}

#folderlisttable{
	overflow: auto;
	height: 280px;
	display: block;
}

#filesviewdiv {
	overflow-y: scroll;
	height: calc(100% - 75px);
}

#pipelineviewdiv {
	overflow-y: scroll;
	height: calc(100% - 75px);
}

#pipelinepage {
	display: inline-flex;
}

#pipelinepage input{
	width: 40px;
}

#newprojectpopup {
	position: absolute;
	height: 154px;
	width: 400px;
	top: calc(50% - 100px);
	left: calc(50% - 200px);
	background-color: white;
	display: none;
}

#jobrunparameterspopup {
	position: absolute;
	height: 400px;
	width: 600px;
	top: calc(50% - 200px);
	left: calc(50% - 200px);
	background-color: white;
	display: none;
}

#pipelineactionsbutton {
	float: left;
	margin-left: 10px;
	margin-top: 5px;
}

#pipelineviewbutton {
	float: left;
	margin-top: 5px;
	margin-left: 10px;
}

#pipelinesortbutton {
	float: left;
	margin-top: 5px;
	margin-left: 10px;
}

#pipelinepage {
	margin-top: 5px;
	margin-left: 10px;
}

#filesviewactionsbutton {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
}

#filesviewviewbutton {
	float: left;
	margin-top: 5px;
}

#historytableheader {
	background-color: #6a85a8;;
	color: white;
}


div[name=pipelineviewselected] {    
	background-color: #6a85a8;;
} 


