	body {
		font-family: Verdana, Geneva, sans-serif;
		margin: 0px;
		overflow: hidden;
		}
		
	.mainpane {
		overflow: auto;
		height: calc(100vh - 50px);
		background-color: #7891b0;
	}
		
	.header {
		width: 100%;
		text-align: center;
		padding-top: 20px;
		height: 40px;
		background-color: white;
		}
		
	.headermenu {
		position: absolute;
		left: 50px;
		top: 15px;
		width: 150px;
		text-align: left;
	}
	
	.headermenuimage {
		width: 30px;
	}
	
	.headermenuitems {
		font-size: 14px;
		display: none;
		background-color: white;
		text-align: left;
	}
	
	
	.headerimage {
		width: 250px;
		margin-top: -10px;
	}
	
	.subheader {
		padding: 5px;
		margin-top: 6px;
		margin-left: 6px;
		margin-right: 6px;
		background-color: white;
	}
	
	.subheadertitle {
		display: inline-block;
	}
	
	.subtitlemajor {
		font-size: 16px;
	}
	
	.simpleicon{
		height: 20px;
	}	
	
	.projectselector {
		position: absolute;
		right: 50px;
		top: 20px;
		font-size: 14px;
		width: 150px;
		text-align: right;
	}
		
	.projects {
		display: none;
		background-color: white;
		text-align: left;
	}
	
	.project:hover, .headermenuitem:hover{
		background-color: grey;
		color: white;
	}
			
	.tabular {
		background-color: white;
	}
	
	#projecthistory{
		height: calc(100vh - 106px);
		margin-left: 6px;
		margin-right: 6px;
	}
		
	.closeicon{
		height: 16px;
		float: right;
		}	
	
	.popup{
		position: absolute;
		background-color: white;
		}
		
	.thumbnails{
		width: calc(100vw - 50px);
		}	
		
	.thumbnail{
		display: inline-block;
		margin: 5px;
		}
			
	.thumbnailimage{
		width:	100px;
		height:	100px;
		}
			
	.thumbnailimagecontainer {
		overflow: hidden;
		}
		
	.sidemenutabs {
		position: fixed;
		right: 10px;
		top: 80px;
	}
	
	.sidemenutab {
		transform: rotate(-90deg);
		background-color: #7891b0;
		border-style: solid;
		border-width: 1px;
		border-color: #7891b0;
		padding: 5px;
		color: white;
	}
	
	.sidemenutabselected {
		transform: rotate(-90deg);
		background-color: white;
		border-style: solid;
		border-width: 1px;
		border-color: #7891b0;
		padding: 5px;
		color: #7891b0;
	}
	
	.sidemenutab:hover {
		background-color: grey;
		color: white;
	}
	
	.sidemenudisplay {
		position: fixed;
		right: 52px;
		top: 80px;
		width: 320px;
		background-color: white;
		border-style: solid;
		border-width: 1px;
		border-color: #7891b0;
		display: none;
	}
	
	.sidemenudisplay div{
		padding: 10px;
	}
	
	.sidemenudisplay input{
		width: 150px;
		right: 20px;
		position: absolute;
	}
	
	.sidemenudisplay select{
		width: 150px;
		right: 30px;
		position: absolute;
		background-color: white;
		border-style: solid;
		border-color: #7891b0;
		border-width: 1px;
	}
	
	.sidemenudisplay button{
		background-color: #7891b0;
		border-style: solid;
		border-width: 1px;
		border-color: #7891b0;
		padding: 5px;
		color: white;
		width: 150px;
		margin: auto;
		display: flex;
		margin-bottom: 10px;
	}
	
	.sidemenudisplay button:hover{
		background-color: grey;
		color: white;
	}
	
	.optiondiv {
		border-style: solid;
		border-width: 1px;
		border-color: #7891b0;
		margin: 10px;
	}
	
	.loader {
		  border: 5px solid #f3f3f3;
		  border-radius: 50%;
		  border-top: 5px solid #3498db;
		  width: 30px;
		  height: 30px;
		  animation: spin 2s linear infinite;
	}

	@keyframes spin {
		  0% { transform: rotate(0deg); }
		  100% { transform: rotate(360deg); }
	}
	
	.largepopup {
		width: calc(100vw - 20px);
		height: calc(100vh - 81px);
		position: absolute;
		top: 70px;
		background-color: white;
		left: 10px;
		display: none;
	}
	
	.gauze {
		width: calc(100vw);
		height: calc(100vh);
		position:absolute;
		top: 0px;
		left: 0px;
		background-color: black;
		opacity: 0.7;
		display: none;
	}


