.taskselector {
	width: 36vw;
	font-size: 11px;
	position: absolute;
	left: calc(50vw - 18vw);
	top: 200px;
	background-color: white;
	padding: 10px;
	z-index: 4;
	border-radius: 6px;
}

.taskselector p{
	display: inline-block;
	font-weight: bold;
}

.taskselector h{
	font-weight: bold;
	font-size: 14px;
}

.taskselector .tasklist{
	display: inline-block;
	vertical-align: top;
	height: 40vh;
	width: 150px;
}

.taskselector .task {
	display: none;
}

.taskselector .taskdisplay {
	display: block;
}


.taskselector input{
	width: calc(100% - 20px);
	padding: 6px 10px;
	margin: 5px 0;
	box-sizing: border-box;
	border-radius: 8px;
	border-style: solid;
}

.taskselector button{
	width: 80px;
	border-radius: 8px;
	border-style: none;
	font-size: 12px;
	height: 30px;
	margin-top: 5px;
}

.taskselector #selectorbuttons{
	display: flex;
	justify-content: space-between;
	margin-left: 20%;
	margin-right: 20%;
}

.taskselector #closebutton {
	height: 12px;
	float: right;
}

.taskselector .taskselected {
	background-color: grey !important;
}

.taskselector .showalltasks {
	position: absolute;
	bottom: 70px;
}

.taskselector .tasklisttasks {
    display: flex;
    flex-direction: column;
    height: calc(100% - 25px);
    overflow-y: auto;
}
