.taskinput {
	width: 60vw;
	font-size: 11px;
	position: absolute;
	left: calc(50vw - 30vw);
	top: 200px;
	background-color: white;
	padding: 10px;
	z-index: 1;
	border-radius: 6px;
	height: 66vh;
}

.taskinput p{
	display: inline-block;
	font-weight: bold;
}

.taskinput h{
	font-weight: bold;
	font-size: 14px;
}

.taskinput #closebutton {
	height: 12px;
	float: right;
}

.taskinput input{
	width: 100%;
	padding: 6px 10px;
	margin: 5px 0;
	box-sizing: border-box;
	border-radius: 8px;
	border-style: solid;
}

.taskinput button{
	width: 80px;
	border-radius: 8px;
	border-style: none;
	font-size: 12px;
	height: 30px;
	margin-top: 5px;
}
/*
.inputpage {
	display: none;
}

.inputpageactive {
	display: block;
}

#inputpage0{
	display: block;
}
*/
.taskinput .advanced{
	display: none;
}

.taskinput #taskhelp{
	position: fixed;
	width: 50vw;
	margin: auto;
	left: 25vw;
	background-color: white;
	height: 500px;
	display: none;
	top: 230px;
	
}
.taskinput #taskgauze{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background-color: black;
	opacity: 0.2;
	z-index: -1;
}
.taskinput .taskhelp{
	background-color: white;
	height: 100%;
	border-radius: 6px;
	padding: 10px;
}
.taskinput .inputaccordion{
	height: calc(66vh - 50px);
	overflow-y: scroll;
}

.taskinput .advancedbutton{
	float: right;
	padding-right: 10px;
}

.taskinput .inputheader{
	background-color: #D4DAED;
	padding: 5px;
	border-radius: 5px;
	margin: 3px;
}

.taskinput .buttons{
	text-align: center;
}
