.viewlogfile {
	width: 60vw;
	font-size: 12px;
	position: absolute;
	left: 20vw;
	top: 200px;
	background-color: white;
	padding: 10px;
	z-index: 4;
	border-radius: 6px;
	height: calc(100vh - 270px);
}


.viewlogfile h{
	font-weight: bold;
	font-size: 14px;
}

.viewlogfile button{
	width: 80px;
	border-radius: 8px;
	border-style: none;
	font-size: 12px;
	height: 30px;
	margin-top: 5px;
	margin-left: 2vw;
	margin-right: 2vw;
}

.viewlogfile #selectorbuttons{
	display: flex;
	justify-content: center;
}

.viewlogfile #closebutton {
	height: 12px;
	float: right;
}

.viewlogfile pre {
	height: calc(100vh - 345px);
	overflow: scroll;
}
