*.[oa]
*.oo
*.mod
*~
fort.*
*.spi
*.dat
*.img
*.hed
*.mrc
*.bin
*.log
*.swp
.emanlog
.DS_Store
SIMPLE_UNIT*
*.hed
*.spi
Makefile_macros
junk*
*.dSYM
bin/
lib/
build*
obj/
add2.bashrc
add2.tcshrc
simple_user_input.pm
doc/html/
# Latex derived
*.dvi
*.ps
*.spl
*.bbl
*.blg
*.aux
*.out
*.pdf
*.synctex.gz
*.toc
*.orig
/node_modules
/dist
