
@import "tailwindcss" source(".");

@theme {
    --color-niceblue   : #1e90ff;
}
@theme { 
    --color-nicegreen  : #3cb371;
}
@theme { 
    --color-nicered    : #ff6347;
}
@theme { 
    --color-nicedark   : #585858;
}
@theme { 
    --color-nicelight  : #d3d3d3;
}
@theme { 
    --color-niceyellow : #ffd700;
}
@theme { 
    --color-nicebg     : whitesmoke;
}
@theme { 
    --color-niceheader : #e3e8f8;
}
@theme { 
    --color-nicecontrast : #3e588f;
}
@theme { 
    --color-nice4header  : #6e8894;
}
@theme { 
    --color-nice4bg : #eef0f2;
}
@theme { 
    --color-nice4bubble     : #fafaff;
}
@theme { 
    --color-nice4alert : #db5461;
}
@theme { 
    --color-nice4success : #99d17b;
}
@theme { 
    --color-nice4dark : #022b3a;
}
@layer components {
  .nicebutton {
    @apply rounded-full bg-nicecontrast text-white h-min px-[10px] hover:bg-niceheader hover:text-nicecontrast;
  }
}
@layer components {
  .userbutton {
    @apply rounded-full bg-nice4success text-nice4dark h-min px-[10px] hover:bg-nice4header hover:text-nice4bubble w-max m-[5px] text-[12px] font-bold cursor-pointer;
  }
}
@layer components {
    .disabledbutton {
        background-image:unset !important;
        background-size: unset !important;
        background-position: unset !important;
    }
}
@layer components {
    .linkbutton {
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4"><path fill-rule="evenodd" d="M8.914 6.025a.75.75 0 0 1 1.06 0 3.5 3.5 0 0 1 0 4.95l-2 2a3.5 3.5 0 0 1-5.396-4.402.75.75 0 0 1 1.251.827 2 2 0 0 0 3.085 2.514l2-2a2 2 0 0 0 0-2.828.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" /><path fill-rule="evenodd" d="M7.086 9.975a.75.75 0 0 1-1.06 0 3.5 3.5 0 0 1 0-4.95l2-2a3.5 3.5 0 0 1 5.396 4.402.75.75 0 0 1-1.251-.827 2 2 0 0 0-3.085-2.514l-2 2a2 2 0 0 0 0 2.828.75.75 0 0 1 0 1.06Z" clip-rule="evenodd" /></svg>');
        background-repeat: no-repeat;
        width: 16px;
    }
}
@layer components {
    .scrollbar-hidden{
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;
    }
}
