#viewer {
	width: calc(100vw - 40px);
	height: calc(100vh - 220px);
	background-color: white;
	padding: 20px;
	padding-top: 30px;
}

#viewertitle{
	position: absolute;
	bottom: 40px;
	height: 25px;
}
#viewerbody{
	height: calc(100vh - 220px);
	overflow: auto;
}

.thumbnail{
	display: inline-block;
	background-color: grey;
	margin: 5px;
	padding: 5px;
	background-image: url("img/cancel.png"); 
	background-repeat: no-repeat; 
	background-position: center center; 
}

.thumbnail div{
	display: inline-block;
	width: 200px;
	height: 200px;
	overflow: hidden;
}

.thumbnail img{
	width: 100%;
	height: 100%;
	display: inline-block;
	background-color: white;
	text-align: center;
}

.lm-plugin {
	position: relative;
	width: calc(100vw - 40px);
	height: calc(100vh - 220px);
	}
	
.lm-layout-right {
	display: none;
}

.lm-layout-left {
	display: none;
}

.lm-layout-top {
	display: none;
}

.lm-layout-bottom {
	display: none;
}

.lm-viewport-controls {
	display: none;
}



