body{
	font-family: Verdana, Geneva, sans-serif;
	margin: 0px;
	overflow: hidden;
	background-color: white;
}

#header {
	height: 100px;
	background-color: #f4f4f4;
	text-align: center;
}

#header img{
	height: 80%;
	background-repeat: no-repeat;
	display: block;
	background-position: center; 
}

#headerbuttons{
	display: flex;
	justify-content: space-between;
	margin-left: 10vw;
	margin-right: 10vw;
	position: absolute;
	width: 80vw;
	top: 75px;
}

#gauze{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background-color: black;
	opacity: 0.2;
	z-index: 1;
	display: none;
}

#viewwindow{
	height: calc(100vh - 120px);
	padding-top: 20px;
}

#viewwindowtoolbar{
	background-color: #f4f4f4;
	height: 40px;
	width: 100vw;
	position: absolute;
	bottom: 0px;
	display: flex;
	justify-content: space-between;
	text-align: center;
}

#viewwindowtitle{
	font-size: 20px;
	padding-left: 10px;
	padding-bottom: 10px;
	font-weight: bold;
}

#projectselector{
	position: absolute;
	right: 18px;
	top: 18px;
	height: 30px;
	width: 200px;
}
