doctype html
html
	head
		title COSMIC
		style
			include index.css
			include theme.css
	body
		img(src="img/COSMIC-logo.png")
		div="Lighting the fuse"
			span.loaderdot="."
			span.loaderdot="."
			span.loaderdot="."
		script
			include ../build/interface/index.js
