#taskselector {
	width: 36vw;
	font-size: 11px;
	position: absolute;
	left: calc(50vw - 18vw);
	top: 200px;
	background-color: white;
	padding: 10px;
	z-index: 3;
	display: none;
	border-radius: 6px;
}

#taskselector p{
	display: inline-block;
	font-weight: bold;
}

#taskselector h{
	font-weight: bold;
	font-size: 14px;
}

#taskselector input{
	width: 100%;
	padding: 6px 10px;
	margin: 5px 0;
	box-sizing: border-box;
	border-radius: 8px;
	border-style: solid;
}

#taskselector button{
	width: 80px;
	border-radius: 8px;
	background-color: rgb(0, 13, 102);
	border-style: none;
	color: white;
	font-size: 12px;
	height: 30px;
	margin-top: 5px;
}

#taskselector table{
	display: inline-block;
	width: 170px;
	overflow-y: auto;
	min-height: 20vh;
	max-height: 60vh;
}

#taskselector tr{
	height: 25px;
}

#taskselector tr:nth-child(odd) {
	background: #E5E9F5;
}

#taskselect{
	display: inline-flex;
}

#moduletasks tr{
	display: none;
}

.inputpage {
	display: none;
}

#inputpage0{
	display: block;
}

