//change dimensions in here


.guinierwidgetpopup {
	width: 90vw;
	height: 80vh;
	font-size: 11px;
	position: absolute;
	left: 5vw;
	top: 120px;
	background-color: white;
	padding: 10px;
	z-index: 4;
	border-radius: 6px;
}

.guinierwidgetpopup #rightside{
	position: absolute;
	top: 50px;
	right: 50px;
}

.guinierwidgetpopup #leftside{
	height: 100%
}

.guinierwidgetpopup h{
	font-weight: bold;
	font-size: 20px;
}

.guinierwidgetpopup button{
	width: 80px;
	border-radius: 8px;
	border-style: none;
	font-size: 12px;
	height: 30px;
	margin-top: 5px;
}

.guinierwidgetpopup #selectorbuttons{
	display: flex;
	justify-content: space-between;
	margin-left: 20%;
	margin-right: 20%;
}

.guinierwidgetpopup #closebutton {
	height: 12px;
	float: right;
}

.guinierwidgetpopup #pickingcanvas {
	height: 80%;
	position:relative;
	left:30px;
	top:10px;
}

.guinierwidgetpopup #prev {
	position: absolute;
	left: 10px;
	bottom: 10px;
}

.guinierwidgetpopup #next {
	position: absolute;
	right: 50%;
	bottom: 10px;
}

.guinierwidgetpopup #done {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

.guinierwidgetpopup #particlecanvas{
	border-style: solid;
}

.guinierwidgetpopup #manualpickradius {
	width: 50px;
	font-size: 12px;
	padding: 0px;
}

.guinierwidgetpopup #manualpickboxsize {
	width: 50px;
	font-size: 12px;
	padding: 0px;
}

.guinierwidgetpopup select,.select-selected {
	font-size:12px;
}
