{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/square_logo.png' %}">
    <link rel="stylesheet" href="{% static 'nice_lite/nice_lite.css' %}">
    <script src={% static 'nice_classic/classic.js' %}></script>
    <title>SIMPLE Classic</title>
</head>
<body class="w-full h-screen bg-white flex flex-col">
    <div class="bg-nice4header w-full flex flex-row items-center">
        <img src={% static 'images/simple_logo_simple.png' %} class="h-[40px] mr-[20px] bg-white p-[10px]"/>
        <div class="flex flex-row">
            <div class="font-bold text-white">project</div>
            <form method="POST" data-newurl="{% url 'nice_lite:new_project' 'classic' %}">
                {% csrf_token %}
                <select name="selected_project_id" onchange="changeProject(this)" class="bg-white rounded ml-[5px] pl-[5px]">
                    {% if current_project_id == 0 %}
                        <option disabled selected value="" >select</option>
                    {% endif %}
                    <option value="new">✚ create new</option>
                    {% for project in projects %}
                        {% if project.id == current_project_id %}
                            <option selected value={{ project.id }}>{{ project.name }}</option>
                        {% else %}
                            <option value={{ project.id }}>{{ project.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </form>
        </div>
         <div class="flex flex-row mx-[20px]">
            <div class="font-bold text-white">workspace</div>
            <form method="POST" action={% url 'nice_lite:create_workspace' current_project_id %}>
                {% csrf_token %}
                <select name="selected_workspace_id" onchange="changeWorkspace(this)" class="bg-white rounded ml-[5px] pl-[5px]">
                    {% if current_workspace_id == 0 %}
                        <option disabled selected value="">select</option>
                    {% endif %}
                    <option value="new">✚ create new</option>
                    {% for workspace in workspaces %}
                        {% if workspace.id == current_workspace_id %}
                            <option selected value={{ workspace.id }}>{{ workspace.name }}</option>
                        {% else %}
                            <option value={{ workspace.id }}>{{ workspace.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </form>
        </div>
        <div class="flex flex-1 justify-end">
            <a href={% url 'nice_lite:stream'%} class="mx-[10px] text-white" title="switch to stream">stream</a>
            <a href={% url 'nice_lite:logout'%} class="mx-[10px] text-white" title="logout">logout</a>
        </div>
    </div>
    <div class="h-full w-full flex-1">
        <iframe id="workspace_iframe" height="100%" width="100%"></iframe>
    </div>

</body>
</html>