{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'nice_lite/nice_lite.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/treant-js@1.0.1/Treant.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/treant-js@1.0.1/Treant.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/raphael@2.3.0/raphael.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src={% static 'nice_classic/workspace.js' %}></script>
    
</head>
<body class="w-full h-screen flex flex-col bg-nice4bg">
    {% if current_workspace_id == 0 %}
        <div class="text-nice4header text-[12px]">please select workspace</div>
    {% else %}
        <div class="flex-1 overflow-hidden flex flex-col">
            <div id="tree-simple" class="h-full"></div>
        </div>
        <div class="bg-nice4bubble m-[10px] border-[2px] border-nice4header rounded-xl p-[5px] text-[12px] text-nice4dark">
            <div class="flex flex-row">
                <div class="font-bold text-[14px] flex-1">workspace details</div>
                <form method="POST" action={% url 'nice_lite:delete_workspace' current_workspace_id %} target="_parent">
                    {% csrf_token %}
                    <button onclick="deleteWorkspace(this, {{ current_workspace_id }})" type="button" title="delete dataset">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                            <path fill-rule="evenodd" d="M5 3.25V4H2.75a.75.75 0 0 0 0 1.5h.3l.815 8.15A1.5 1.5 0 0 0 5.357 15h5.285a1.5 1.5 0 0 0 1.493-1.35l.815-8.15h.3a.75.75 0 0 0 0-1.5H11v-.75A2.25 2.25 0 0 0 8.75 1h-1.5A2.25 2.25 0 0 0 5 3.25Zm2.25-.75a.75.75 0 0 0-.75.75V4h3v-.75a.75.75 0 0 0-.75-.75h-1.5ZM6.05 6a.75.75 0 0 1 .787.713l.275 5.5a.75.75 0 0 1-1.498.075l-.275-5.5A.75.75 0 0 1 6.05 6Zm3.9 0a.75.75 0 0 1 .712.787l-.275 5.5a.75.75 0 0 1-1.498-.075l.275-5.5a.75.75 0 0 1 .786-.711Z" clip-rule="evenodd" />
                        </svg>
                    </button>
                </form>
            </div>
            <div class="grid grid-cols-4 gap-1">
                <div>name</div>
                <div class="flex">
                    <form method="POST" action={% url 'nice_lite:update_workspace_name' %} target="_parent">
                        {% csrf_token %}
                        <input id="workspacerename" name="new_workspace_name" value="{{ current_workspace_name }}" onblur="this.form.submit()" onkeydown="submitUpdate(this, event)" disabled></input>
                    </form>
                    <div class="scale-80" onclick="enableWorkspaceRename()">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                            <path d="M13.488 2.513a1.75 1.75 0 0 0-2.475 0L6.75 6.774a2.75 2.75 0 0 0-.596.892l-.848 2.047a.75.75 0 0 0 .98.98l2.047-.848a2.75 2.75 0 0 0 .892-.596l4.261-4.262a1.75 1.75 0 0 0 0-2.474Z" />
                            <path d="M4.75 3.5c-.69 0-1.25.56-1.25 1.25v6.5c0 .69.56 1.25 1.25 1.25h6.5c.69 0 1.25-.56 1.25-1.25V9A.75.75 0 0 1 14 9v2.25A2.75 2.75 0 0 1 11.25 14h-6.5A2.75 2.75 0 0 1 2 11.25v-6.5A2.75 2.75 0 0 1 4.75 2H7a.75.75 0 0 1 0 1.5H4.75Z" />
                        </svg>
                    </div>
                </div>
                <div>created</div>
                <div>{{ created }}</div>
                <div>modified</div>
                <div>{{ modified }}</div>
                <div>created by</div>
                <div>{{user}}</div>
                <div>location</div>
                <div>{{ folder }}</div>
                <div>description</div>
                <div class="flex">
                    <form method="POST" action={% url 'nice_lite:update_workspace_description' %} target="_parent">
                        {% csrf_token %}
                        <input id="workspacedescription" name="new_workspace_description" value="{{ description }}" onblur="this.form.submit()" disabled></input>
                    </form>
                    <div class="scale-80" onclick="enableWorkspaceDescription()">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                            <path d="M13.488 2.513a1.75 1.75 0 0 0-2.475 0L6.75 6.774a2.75 2.75 0 0 0-.596.892l-.848 2.047a.75.75 0 0 0 .98.98l2.047-.848a2.75 2.75 0 0 0 .892-.596l4.261-4.262a1.75 1.75 0 0 0 0-2.474Z" />
                            <path d="M4.75 3.5c-.69 0-1.25.56-1.25 1.25v6.5c0 .69.56 1.25 1.25 1.25h6.5c.69 0 1.25-.56 1.25-1.25V9A.75.75 0 0 1 14 9v2.25A2.75 2.75 0 0 1 11.25 14h-6.5A2.75 2.75 0 0 1 2 11.25v-6.5A2.75 2.75 0 0 1 4.75 2H7a.75.75 0 0 1 0 1.5H4.75Z" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    {%endif%}
    <script type="text/javascript">
        const nodestructure = JSON.parse('{{ nodes|safe }}')
    </script>
</body>
</html>
