{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'nice_lite/nice_lite.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@3.1.0/dist/chartjs-plugin-annotation.min.js"></script>
    <script src={% static 'nice_stream/panelreferencepicking.js' %}></script>
</head>
<body class="w-full h-screen flex flex-col bg-nice4bg text-nice4dark">
    <div class="flex flex-row font-bold m-[10px] mb-[0px] items-center">
        <a class="text-nice4header hover:text-nice4dark cursor-pointer" href={% url 'nice_lite:view_stream' jobid %} title="back">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-4.28 9.22a.75.75 0 0 0 0 1.06l3 3a.75.75 0 1 0 1.06-1.06l-1.72-1.72h5.69a.75.75 0 0 0 0-1.5h-5.69l1.72-1.72a.75.75 0 0 0-1.06-1.06l-3 3Z" clip-rule="evenodd" />
            </svg>
        </a>
        <div class="px-[10px] text-[18px]">{{ displayid }} stream - reference based picking</div>
    </div>
    <div class="w-full flex flex-row p-[10px]">
        <div class="flex flex-col h-full bg-nice4bubble rounded-xl p-[5px] text-nice4dark border-[2px] border-nice4header max-w-[50%]">
            {% if "micrographs_imported" in jobstats and "micrographs_processed" in jobstats and "micrographs_rejected" in jobstats and jobstats.micrographs_imported > 0 %}
                <div class="font-bold text-[12px] pl-[10px]">micrographs</div>
                <div class="h-[50px] w-[240px] ml-[15px]">
                    <canvas class="micrographs_pie_chart" data-imported={{ jobstats.micrographs_imported }} data-processed={{ jobstats.micrographs_processed }} data-rejected={{ jobstats.micrographs_rejected }}></canvas>
                </div>
            {% endif %}
            <div class="flex flex-row">
                <div class="grid grid-cols-2 gap-1 text-[12px] pl-[10px] mt-[10px]">
                    {% if "particles_extracted" in jobstats %}
                        <div class="font-bold">particles extracted</div>
                        <div>{{ jobstats.particles_extracted|intcomma }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="flex ml-[10px] flex-1 flex-col bg-nice4bubble rounded-xl p-[5px] text-nice4dark border-[2px] border-nice4header overflow-hidden">
            <div class="font-bold text-[12px]">log</div>
            <div class="logtext h-[200px] overflow-auto mx-[10px] p-[5px] bg-nice4bg rounded">
                <pre class="text-[10px]">{{log}}</pre>
            </div>
            <div class="font-bold text-[12px]">errors</div>
            <div class="h-[75px] overflow-auto mx-[10px] p-[5px] bg-nice4bg rounded">
                <pre class="text-[10px]">{{error}}</pre>
            </div>
        </div>
        <div class="flex ml-[10px] flex-col bg-nice4bubble rounded-xl p-[5px] text-nice4dark border-[2px] border-nice4header overflow-hidden">
            <div class="font-bold text-[12px] pl-[10px]">help</div>
            <div class="flex-1 w-[200px] overflow-auto mx-[10px] p-[5px]">
                <div class="text-[10px]">some help text</div>
            </div>
        </div>
    </div>
    <div class="w-full flex-1 flex-row mb-[10px] overflow-hidden">
        <div class="flex mx-[10px] flex-1 flex-col h-full bg-nice4bubble rounded-xl p-[5px] text-nice4dark border-[2px] border-nice4header">
            <div class="font-bold text-[12px] pl-[10px]">latest micrographs</div>
            {% if "latest_picked_micrographs" in jobstats and jobstats.latest_picked_micrographs|length > 0 %}
                <div class="flex flex-col flex-1 overflow-y-auto">
                    <div class="flex flex-row items-center m-auto">
                        <div class="h-[24px] w-[24px] text-nice4header hover:text-nice4dark cursor-pointer" onclick="scrlMicLeft()">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                                <path fill-rule="evenodd" d="M7.72 12.53a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 1 1 1.06 1.06L9.31 12l6.97 6.97a.75.75 0 1 1-1.06 1.06l-7.5-7.5Z" clip-rule="evenodd" />
                            </svg>
                        </div>
                        <div id="micrographs_slider" oncontextmenu="showMenu(this, event)" class="flex flex-row w-[512px] overflow-y-hidden overflow-x-scroll snap-x snap-mandatory scrollbar-hidden">
                            {% for micrograph in jobstats.latest_picked_micrographs %}
                                <div class="miccontainer snap-center slider_micrograph relative" data-xdim={{ micrograph.xdim }} data-ydim={{ micrograph.ydim }} data-boxes='{{ micrograph.boxes}}'>
                                    <canvas class="boxes-overlay absolute hover:animate-pulse z-1" height="512" width="512"></canvas>
                                    <div class="w-[512px] h-[512px] m-auto">
                                        <img src={% url 'nice_lite:image' micrograph.path %} style="filter:contrast(var(--refpick-contrast)) brightness(var(--refpick-brightness));" class="h-[512px] w-[512px] rounded m-auto"></img>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div name="selectmenu" class="hidden absolute w-full h-full top-0 left-0 bg-transparent z-2" onclick="hideMenu()">
                            <div name="selectmenubox" class="text-[10px] absolute flex flex-col bg-nice4bubble m-[5px] border-nice4header border-[2px] p-[2px] rounded">
                                <div class="flex flex-col">
                                    <div class="font-bold">contrast</div>
                                    <input class="mx-[10px]" oninput="updateContrast(this)" type="range" max="500" min="0" step="1" value="100"></input> 
                                </div>
                                <div class="flex flex-col">
                                    <div class="font-bold">brightness</div>
                                    <input class="mx-[10px]" oninput="updateBrightness(this)" type="range" max="300" min="0" step="1" value="50"></input> 
                                </div>
                                <div class="flex flex-col">
                                    <div class="font-bold">scale</div>
                                    <input class="mx-[10px]" oninput="updateScale(this)" type="range" max="1000" min="100" step="1" value="500"></input> 
                                </div>
                            </div>
                        </div>
                        <div class="h-[24px] w-[24px] text-nice4header hover:text-nice4dark cursor-pointer" onclick="scrlMicRight()">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                                <path fill-rule="evenodd" d="M16.28 11.47a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 0 1-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 0 1 1.06-1.06l7.5 7.5Z" clip-rule="evenodd" />
                            </svg>
                        </div>
                    </div>    
                </div>    
            {% else %}
                <div class="flex flex-row w-full flex-1 text-[10px] justify-center items-center">
                    picking particles ...
                </div>            
            {% endif %}
        </div>
    </div>
</body>
</html>
