.viewer #fits {
	height: calc(80vh - 75px);
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}

.viewer #cavgs,#mic,#preproc {
	height: calc(80vh - 75px);
	display: flex;
	flex-direction: column;
	overflow-y: hidden;
}

.scrollmenu {
	display: none;
	height: 300px;
}

#cavgs {
	overflow-y: hidden;
	overflow-x: hidden;
}

#cavgs .viewptcls {
	position: relative;
	bottom: 32px;
	left: 0px;
}

#cavgs .thumbnails {
	overflow-x: hidden;
	overflow-y: scroll;
}

#cavgs #plottype{
	margin-left: 33vw;
}

#cavgs #plot label{
	margin-left: 22vw;
}

#cavgs #ymax{
	width: 100px;
}

#mic {
	overflow-y: hidden;
	overflow-x: hidden;
}

#mic .viewptcls {
	position: relative;
	bottom: 32px;
	left: 0px;
}

#mic .thumbnails {
	overflow-x: hidden;
	overflow-y: scroll;
}

#ptclsviewer .scrollmenu {
	display: none;
	height: 300px;
}

#ptcls {
	display: flex;
	height: calc(60vh - 60px);
	flex-direction: column;
}

#ptclsviewer .thumbnails {
	overflow-x: hidden;
	overflow-y: scroll;
}

.viewer #ptclsviewer {
	position: absolute;
	top: 100px;
	width: 80vw;
	left: 5vw;
	background-color: white;
	border-radius: 6px;
	padding: 10px;
	height: 60vh;
	display: none;
}

#ptclsviewer #ptclsgauze {
	 position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        background-color: black;
        opacity: 0.2;
        z-index: -1;
}

#inivol .lm-plugin{
	width: calc(90vw - 500px);
	height: calc(80vh - 108px);
}

#litemol {
	display: inline-block;
}

.viewer #reprojections {
	width: 450px;
	vertical-align: top;
	display: inline-block;
}

.viewer #reprojections .thumbnails{
	overflow-y: scroll;
	height: calc(80vh - 118px);
	width : 100%;
}

#preproc .thumbnails {
	overflow-x: hidden;
	overflow-y: scroll;
}

.viewer #boxesviewer {
	position: absolute;
	top: 100px;
	width: 60vw;
	left: 15vw;
	background-color: white;
	border-radius: 6px;
	padding: 10px;
	min-height: 65vh;
	display: none;
}

img.viewparticles{
	position: absolute;
}

.viewer #boxviewmicrograph {
	width: 100%
}

.viewer #boxesviewergauze {
	 position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        background-color: black;
        opacity: 0.2;
        z-index: -1;
}
