.error {
	position: absolute;
	max-height: 65px;
	max-width: 400px;
	top: calc(50vh - 100px);
	left: calc(50vw - 200px);
	background-color: #efefcf;
	z-index: 200;
	top: 10px;
	left: 200px;
	min-width: 200px;
	padding: 5px;
	font-size: 12px;
	display: none;
}
