.pipelineview {
	position: fixed;
	height: calc(100vh - 110px);
	width: calc(100vw - 40px);
	top: 90px;
	left: 20px;
	background-color: white;
	z-index: 200;
	display: none;
}

.pipelineviewheader {
	background-color: #7891b0;
	padding: 5px;
	color: white;
}

.pipelineviewmenuicon {
	height: 10px;
}

.pipelineviewmenu {
	display: inline-block;
	z-index: 100;
}

.pipelineviewmenu:hover .pipelineviewmenuoptions {
	display: block;
}

.pipelineviewmenuoptions {
	position: absolute;
	display: none;
	background-color: #d7d7d7;
	padding: 5px;
	font-size: 12px;
	color: black;
	width: 150px;
	z-index: 100;
}

.pipelineviewmenuoption:hover {
	background-color: #acb2ba;
}

.pipelineviewmenuoption:hover .pipelineviewmenuelements {
	display: block;
}

.pipelineviewmenuelements {
	position: absolute;
	display: none;
	background-color: #d7d7d7;
	padding: 5px;
	font-size: 12px;
	color: black;
	width: 200px;
	left: 150px;
	top: -20px;
}

.pipelineviewmenuelement:hover {
	background-color: #acb2ba;
}

.pipelineviewarea {
	height: calc(100vh - 147px);
	overflow-y: scroll;
	overflow-x: hidden;
}

.pipelineviewmicrograph {
	display: inline-block;
	margin: 5px;
	padding: 5px;
}

.pipelineviewmicrographselected {
	display: inline-block;
	margin: 5px;
	padding: 5px;
	background-color: #d7d7d7;
}

.pipelineviewattributes {
	max-width: 200px;
	overflow: hidden;
	display: inline-block;
	font-size: 10px;
	max-height: 200px;
	padding: 5px;
	vertical-align: top;
}

.pipelineviewpagetotal {
	width: 28px;
	font-size: 12px;
	border: none;
	float: right;
}

.pipelineviewpage {
	width: 25px;
	font-size: 12px;
	border: none;
	float: right;
}

.pipelineviewcloseicon {
	height: 10px;
	float: right;
}

.pipelineviewsave {
	position: fixed;
	height: 300px;
	width: 400px;
	top: calc(50vh - 150px);
	left: calc(50vw - 200px);
	background-color: white;
	z-index: 200;
	text-align: center;
	display: none;
}

.pipelineviewsaveheader {
	background-color: #7891b0;
	padding: 5px;
	color: white;
	text-align: left;
}

.pipelineviewsavebutton {
	display: inline-block;
	width: 100px;
	padding: 5px;
	background-color: 7891b0;
	text-align: center;
}

.pipelineviewsaverow {
	display: inline-block;
	font-size: 12px;
	padding: 5px;
	float: left;
}

.pipelineviewsaverow div {
	display: inline-block;
	color: black;
	width: 100px;
	text-align: left;
}

.pipelineviewsavegauze {
	position: fixed;
	top: 0px;
	left: 0px;
	height: calc(100vh);
	width: calc(100vw);
	background-color: black;
	opacity: 0.4;
	display: none;
}

.pipelineviewimgdiv {
	display: inline-block;
	overflow: hidden;
}
