#pickpane {
	display: none;
}

.headermenu {
	width: 150px;
	text-align: left;
	padding: 5px;
	display: none;
	position: absolute;
	background-color: #d7d7d7;
	font-size: 12px;
	left: 40px;
	top: 20px;
	z-index: 101;
}

.headermenu div:hover{
	background-color: #acb2ba;
}

.pickmicrographs {
	width: 400px;

}

.pickmicrographs table{
	height: calc(90vh - 220px);
	overflow: scroll;
	display: block;
}

#pickmicrographs {
	overflow: auto;
	font-size: 12px;
}

.pickparameters {
	width: 400px;
	
}

.pickparameters label{
	font-size: 12px;

}
.pickcanvas{
	width: calc(100vw - 800px);
	height: 90vh;
	overflow: scroll;
	display: inline-block;
	}

.controlspopup {
	position: absolute;
	left: calc(50vw - 270px);
	top: calc(50vh - 175px);
	width: 540px;
	height: 350px;
	background-color: white;
	display: none;
}

.popupbutton{
width: 100px;
    padding: 5px 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #7891b0;
    color: white;
    resize: none;
    margin: auto;
    display: block;
}

.controlsbrightness,.controlscontrast{
font-size: 12px;
width: 300px;
margin: auto;
}

.closeimage {
height: 15px;
float:right;
}


.simpleiconpopup{
	position: absolute;
width: 17px;
left: 7px;
}

.pickcanvasgauze{
	position:absolute;
	display: none;
	background-color: black;
	opacity: 0.7;
	width: calc(100vw - 800px);
	height: 90vh;
}

.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
