.pipelineview {
	height: 700px;
	overflow: auto;
}

.pipelineview table{
	margin: auto;
}

.pipelineimg img{
	flex: none;
}

.pipelineviewselected{
	background-color: #acbcab;
	width: 750px;
	display: inline-block;
	margin-left: 5px;
	padding: 10px;
}

div[name=pipelineviewselected] {    
	background-color: #acbcab;
} 


.pipelineviewsave{
	position: absolute;
	height: 400px;
	width: 400px;
	top: calc(50% - 200px);
	left: calc(50% - 200px);
	background-color: white;
	border-radius: 5px;
	display: none;
}

.pipelineviewboxselect{
	position: absolute;
	width: 800px;
	height: 800px;
	top: calc(50% - 400px);
	left: calc(50% - 400px);
	background-color: white;
	border-radius: 5px;
	display: none;
}

#pipelineviewboxselectmicrograph img{
	position: absolute;
#	top: 20px;
	left: 0px;
	width: 800px;
	height: 800px;
}

#pipelineviewboxselect canvas{
	position: absolute;
#	top: 20px;
	left: 0px;
	width: 800px;
	height: 800px;
}

#pipelinepagenumber {
	display: inline-block;
	width: 30px;
}

#pipelinepagemax {
	display: inline-block;
}

.pspecdiv,.thumbdiv,.paramsdiv{
	float: left;
	display:flex;
	overflow: hidden;
	height: 250px;
	width: 250px;
	justify-content: center;
	align-items: center;
}
