body {
 font-family: Verdana, Geneva, sans-serif;
 margin: 0px;
 overflow: hidden;
}
	
.header {
 width: 100%;
 height: 30px;
padding: 5px;
}

.mainpane {
	overflow: hidden;
	padding: 5px;

}

.mainpane::after {
  content: "";
  background: url("../img/simple_banner.png");
	background-size: calc(100vw - 200px) ;
    background-repeat: no-repeat; 
    background-position: center;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
  } 

.historytable {
	font-size: 10px;
#	height: calc(100vh - 50px);
	overflow-y: scroll;
	overflow-x: auto;
	display: block;
}


.historytable tr:nth-child(odd) {
background: #d7dfea;
}

.jobmenu {
	display: none;
position: absolute;
background-color: white;
width: 100px;
right: 17px;
border: solid 4px #d7dfea;
padding: 2px;
}

.headerproject {
 font-size: 12px;
}
