body {
 font-family: Verdana, Geneva, sans-serif;
 margin: 0px;
 overflow: hidden;
}
	
.header {
 width: calc(100% - 30px);
 height: 20px;
 padding: 5px;
 padding-left: 30px;

}

.headermenu {
	display: none;
 	float: left;
	position: absolute;
	left: 30px;
	background: white;
	border: solid 4px #d7dfea;
	width: 150px;
}

.headermenu div:hover{
	background: lightgray;
}

.mainpane {
	overflow: hidden;
	padding: 5px;
}

.newprojectpopup {
	position: absolute;
	left: calc(50vw - 270px);
	top: calc(50vh - 175px);
	width: 540px;
	height: 350px;
	background-color: white;
	display: none;
}

.projecttable {
	font-size: 10px;
	height: calc(100vh - 50px);
	overflow-y: scroll;
	overflow-x: auto;
	display: block;
	background-color: white;
}

.projecttable tr:nth-child(odd) {
background: #d7dfea;
}

.closeimage {
height: 15px;
float:right;
margin-right: 10px;
}

.gauze {
	 position: fixed;
	 top: 0px;
	 left: 0px;
	 height: calc(100vh);
	 width: calc(100vw);
	 background-color: black;
	 opacity: 0.6;
	 display: none;
}

.simpleicon{
	position: absolute;
	top: 6px;
	width: 17px;
	left: 7px;
}

.projectpane {
	overflow: hidden;
	padding: 20px;

}

.projectpane td {
 font-size: 13px;
}

.projectpane textarea {
	width: 300px;
    height: 150px;
    padding: 5px 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.projectpane input {
	width: 300px;
    padding: 5px 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.projectpane button{
	width: 100px;
    padding: 5px 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #7891b0;
    color: white;
    resize: none;
    margin: 10px;
}


.projectpane table {
	margin: auto;
}
    
