.centerpane{
	vertical-align: top;
}

.taskwindow{
	height: 100%;
	margin: 10px;
	padding: 5px;
	color: black;
	background-color: white;
	text-align: center;
	border-radius: 5px;
	display: None;
}

.tasktitle {
	height: 100%;
	margin: 10px;
	padding: 5px;
	color: white;
	background-color: #2298ca;
	text-align: center;
	border-radius: 5px;
}

.taskhovertext {
	display: none;
}

.taskhelpimage {
	height: 15px;
}

.taskdropdown{
	display: inline-block;
}

.taskhelp:hover .taskhelptext {
	display: block;
}

.taskdropdown:hover .taskdropdowncontent {
	display: block;
}

.taskdropdowncontent {
	display: none;
	position: absolute;
	border-style: solid;
	padding: 5px;
	border-radius: 5px;
	background-color: white;
	z-index: 999;
	color: black;
}

.taskhelptext {
	display: none;
	width: 100px;
	position: absolute;
	border-style: solid;
	padding: 5px;
	border-radius: 5px;
	background-color: white;
}

.micrographimgdeselected {
	border-style: solid;
	border-color: black;
	border-width: 4px;
	margin: 2px;

	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
}

.micrographimgselected {
	border-style: solid;
	border-color: green;
	border-width: 4px;
	margin: 2px;

	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
}

.pipelineviewmicrograph {
	width: 750px;
	display: inline-block;
	margin-left: 5px;
	padding: 10px;
}

