body {
	height: 100%;
	padding: 0px;
	margin: 0px;
	font-size: 14px;
	font-family: sans-serif;
	overflow: hidden;
	#background-color: #2a2a2a;
	background-color: #1d637e;
}

.header {
	height: 100px;
}

.headerimage {
	height: 60px;
	margin: 10px;
	padding: 5px;
	border-radius: 5px;
	background-color: white;
}

.projectselector {
	display: inline-block;
	float: right;
	padding: 10px;
	color: white;
}

.leftpane {
	width: 250px;
	vertical-align: top;
}

.standardprogram, .advancedprogram {
	height: 100%;
	margin: 10px;
	padding: 5px;
	color: white;
	background-color: #2298ca;
	text-align: center;
	border-radius: 5px;
}

.advancedprogram {
	display: none;
}

.gauze {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: grey;
	opacity: 0.5;
	top: 0px;
	left: 0px;
	display: none;
}

.newprojectpopup {
	position: absolute;
	height: 200px;
	width: 400px;
	top: calc(50% - 100px);
	left: calc(50% - 200px);
	background-color: white;
	border-radius: 5px;
	display: none;
}

.popupheader {
	background-color: #2298ca;
	color: white;
	padding: 5px;
	text-align: center;
	border-radius: 5px;
}

.popuptable {
	width: 90%;
	margin: auto;
}

.clickbutton {
	width: 100px;
	margin: 10px;
	padding: 5px;
	color: white;
	background-color: #2298ca;
	text-align: center;
	border-radius: 5px;
	display: inline-block;
}

.bodytable {
	width: 100%;
}

.jobrunparameterspopup {
	position: absolute;
	height: 400px;
	width: 600px;
	top: calc(50% - 200px);
	left: calc(50% - 200px);
	background-color: white;
	border-radius: 5px;
	display: none;
}

