.rightpane {
	vertical-align: top;
}

.rightpaneheader{
	height: 100%;
	margin: 10px;
	padding: 5px;
	color: white;
	background-color: #2298ca;
	text-align: center;
	border-radius: 5px;
}

.jobinfo{
	height: 100%;
	margin: 10px;
	padding: 5px;
	color: white;
	text-align: center;
	border-radius: 5px;
}

.jobcomplete{
	
}

.jobdropdownicon{
}

.historytable {
	height: 100%;
	width: 90%;
	margin: auto;
	color: white;
	border-radius: 5px;
}
.historytable tr:nth-child(even) {
	background: #898989;
}

.historytable tr:nth-child(odd) {
	background: #709EB1;;
}

.actionbutton:hover .actiondropdowncontent {
	display: block;
}

.actiondropdowncontent {
	display: none;
	position: absolute;
	border-style: solid;
	padding: 5px;
	border-radius: 5px;
	background-color: white;
	color: black;
	z-index: 999;
}
