#headerimage {
background-image: url("../img/simple_logo_simple.png");
background-size: auto 75%;
}

button {
color: white;
background-color: #1A7DA4;;
}

button:hover {
color: white;
background-color: #2C6177;
}
