{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'nice_lite/nice_lite.css' %}">
    <script src={% static 'nice_classic/panelmicrographs.js' %}></script>
</head>
<body class="w-full h-screen bg-nice4bubble text-nice4dark overflow-hidden">
    <div id="loadinggauze" class="absolute text-[10px] flex h-full w-full bg-nice4bubble top-[20px] items-center justify-center transition-opacity duration-300 delay-300 ease-in-out">loading ...</div>
    <div class="h-full flex-col flex justify-start">
        <div class="flex flex-row text-[12px]">
            <div class="font-bold text-[14px]">micrographs</div>
            {% if "mic" in projstats and "numeric_keys" in projstats.mic %}
                <form class="flex flex-1 items-center justify-center" method="POST" action={% url 'nice_lite:view_job_micrographs' jobid %}>
                    {% csrf_token %}
                    <div class="flex flex-1 justify-around items-center">
                        <div class="flex flex-row">
                            <div class="font-bold mr-[5px]">micrographs</div>
                            <div id="micscount"></div>
                        </div>
                        <div class="flex justify-center">
                            <div class="font-bold mr-[5px]">sort</div>
                            <select name="sort_micrographs_key" class="bg-nice4bg rounded" oninput="this.form.submit()">
                                <option>n</option>
                                {% for key in projstats.mic.numeric_keys %}
                                    <option {% if key == sortkey %} selected {% endif %}>{{ key }}</option>
                                {% endfor %}
                            </select>
                            {% if sortasc %}
                                <div onclick="setSortDesc(this)">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                                        <path fill-rule="evenodd" d="M4 2a1.5 1.5 0 0 0-1.5 1.5v9A1.5 1.5 0 0 0 4 14h8a1.5 1.5 0 0 0 1.5-1.5V6.621a1.5 1.5 0 0 0-.44-1.06L9.94 2.439A1.5 1.5 0 0 0 8.878 2H4Zm4 9.5a.75.75 0 0 1-.75-.75V8.06l-.72.72a.75.75 0 0 1-1.06-1.06l2-2a.75.75 0 0 1 1.06 0l2 2a.75.75 0 1 1-1.06 1.06l-.72-.72v2.69a.75.75 0 0 1-.75.75Z" clip-rule="evenodd" />
                                    </svg>
                                </div>
                            {% else %}
                                <div onclick="setSortAsc(this)">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                                        <path fill-rule="evenodd" d="M4 2a1.5 1.5 0 0 0-1.5 1.5v9A1.5 1.5 0 0 0 4 14h8a1.5 1.5 0 0 0 1.5-1.5V6.621a1.5 1.5 0 0 0-.44-1.06L9.94 2.439A1.5 1.5 0 0 0 8.878 2H4Zm4 3.5a.75.75 0 0 1 .75.75v2.69l.72-.72a.75.75 0 1 1 1.06 1.06l-2 2a.75.75 0 0 1-1.06 0l-2-2a.75.75 0 0 1 1.06-1.06l.72.72V6.25A.75.75 0 0 1 8 5.5Z" clip-rule="evenodd" />
                                    </svg>
                                </div>
                            {% endif %}
                        </div>
                        <input type="hidden" name="fromp" value={{ pages.0.fromp }}></input>
                        <input type="hidden" name="top" value={{ pages.0.top }}></input>
                        <input type="hidden" name="sort_micrographs_asc" value="{% if sortasc %}true{% else %}false{% endif %}"></input>
                    </div>
                    {% if "boxes" in mics.data.0 %}
                        <div class="flex pr-[20px]">
                            <label class="inline-flex items-center cursor-pointer">
                                <input type="checkbox" value="" class="sr-only peer" id="boxestoggle" onchange="drawBoxes()">
                                <div class="relative w-[24px] h-[12px] bg-nice4bg peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-nice4bubble rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-nice4header after:content-[''] after:absolute after:top-[0px] after:start-[0px] after:bg-nice4bubble after:border-nice4header after:border after:rounded-full after:h-[12px] after:w-[12px] after:transition-all peer-checked:bg-nice4success"></div>
                                <div class="font-bold ml-[5px]">picks</div>
                            </label>
                        </div>
                    {% endif %}
                    <div class="flex pr-[20px]">
                        <div class="font-bold mr-[5px]">page</div>
                        <select name="page" class="bg-nice4bg rounded" oninput="changePage(this)">
                            {% for page in pages %}
                                <option data-fromp={{ page.fromp }} data-top={{ page.top }} {% if page.n == currentpage %} selected {% endif %}>{{ page.n }}</option>
                            {% endfor %}
                        </select>
                    </div>   
                </form>
            {% endif %}
        </div>
        <div class="flex flex-row flex-wrap flex-1 overflow-y-scroll snap-y snap-mandatory">
            {% if "data" in mics %}
                {% for micrograph in mics.data %}
                    {% if "thumb" in micrograph %}
                        <div class="micrographcontainer snap-center" {% if "boxes" in micrograph %}data-boxes='{{ micrograph.boxes }}' data-xdim={{ micrograph.xdim }} data-ydim={{ micrograph.ydim }}{% endif %} data-idx={{ micrograph.n }} onclick="toggleMicrograph(this, {{ micrograph.n }})" oncontextmenu="showMenu(this, event)" title="defocus: {{ micrograph.dfx| floatformat:2 }}/{{ micrograph.dfy| floatformat:2 }} μm&#013;CTF resolution: {{ micrograph.ctfres | floatformat:1 }}Å">
                            <div class="max-w-[600px] m-[5px] rounded bg-nice4bg px-[5px] pb-[5px] border-nice4header border-[1px]">
                                {% if sortkey is not None and "sortval" in micrograph %}
                                    <div class="flex text-[10px]">
                                        <div class="font-bold">
                                            {{ sortkey }} : 
                                        </div>
                                        <div class="pl-[5px]">
                                            {{ micrograph.sortval }}
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="relative overflow-hidden">
                                    <canvas class="boxes_overlay absolute hover:animate-pulse z-1" height="500" width="500"></canvas>
                                    <div class="deselected hidden absolute text-nice4alert scale-400 flex h-full w-full items-center justify-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                                            <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                                        </svg>
                                    </div>
                                    <img src={% url 'nice_lite:image' micrograph.thumb %} class="micimg"></img>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <div name="selectmenu" class="hidden absolute w-full h-full top-0 left-0 bg-transparent" onclick="hideMenu()">
                <div name="selectmenubox" class="absolute flex flex-col bg-nice4bubble m-[5px] border-nice4header border-[2px] rounded">
                    <div id="selectabove" class="userbutton w-auto text-center">select above</div>
                    <div id="selectbelow" class="userbutton w-auto text-center">select below</div>
                </div>
            </div>
        </div>
        <div class="flex justify-center items-center">
            <form method="POST" action={% url 'nice_lite:select_job_micrographs' jobid %}>
                {% csrf_token %}
                <input type="hidden" name="deselected_mic"></input>  
                <button type="button" class="userbutton mb-[0px]" onclick="saveSelectionMic(this)">save selection</button>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        {% if "indices_pre" in mics %}
            const indices_pre = {{ mics.indices_pre|safe }}
        {% else %}
            const indices_pre = []
        {% endif %}
        {% if "indices_post" in mics %}
            const indices_post = {{ mics.indices_post|safe }}
        {% else %}
            const indices_post = []
        {% endif %}
    </script>
</body>
</html>