
setenv SIMPLE_EMAIL="my.name@uni.edu"
setenv SIMPLE_QSYS="local"
setenv SIMPLE_SOURCE_PATH @CMAKE_SOURCE_DIR@
setenv SIMPLE_PATH @CMAKE_INSTALL_PREFIX@
set path=(${SIMPLE_PATH}/scripts ${SIMPLE_PATH}/bin $path)

