body{
	font-family: Verdana, Geneva, sans-serif;
	margin: 0px;
	overflow: hidden;
	background-color: white;
}

#header {
	height: 100px;
	padding: 10px;
	background-color: #f4f4f4;
	text-align: center;
}

#header img{
	height: 80%;
}

#headerbuttons{
	display: flex;
	justify-content: space-between;
	margin-left: 10vw;
	margin-right: 10vw;
}

.headerbutton{
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background-color: rgb(0, 13, 102);
	border-width: 3px;
	border-style: solid;
	border-color: rgb(105, 120, 227);
	color: white;
	font-size: 12px;
}

.headerbutton:hover{
	border-color: orange;
}

#gauze{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background-color: black;
	opacity: 0.2;
	z-index: 1;
	display: none;
}

#toolbar{
	background-color: #f4f4f4;
	height: 40px;
	width: 100vw;
	position: absolute;
	bottom: 0px;
	display: flex;
	justify-content: space-between;
	text-align: center;
}

#toolbar div{
	display: none;
	margin-left: 2vw;
	margin-right: 2vw;
}

#toolbar button{
	display: none;
	margin-left: 2vw;
	margin-right: 2vw;
	width: 80px;
	border-radius: 8px;
	background-color: rgb(0, 13, 102);
	border-style: none;
	color: white;
	font-size: 12px;
	height: 30px;
	margin-top: 5px;
}

#toolbar input[type=number] {
	width: 50px;
	border-style: solid;
	border-radius: 8px;
}

#toolbar input[type=range] {
	width: 8vw;
}

