{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'nice_lite/nice_lite.css' %}">
    <script src={% static 'nice_lite/nice_lite.js' %}></script>
</head>
<body class="w-full h-screen flex flex-col bg-nice4bg">
    <div class="w-fit mx-auto">
        <div class="relative bg-nice4bubble rounded-full h-[150px] w-[150px] top-[75px] m-auto border-[2px] border-nice4header">
            <img src={% static 'nice_lite/simple_stream_min.png' %} class="h-[90px] m-auto relative top-[25px]"/> 
        </div>
        <div class="bg-nice4bubble rounded-xl flex flex-col w-max h-max p-[5px] text-nice4dark border-[2px] border-nice4header">
            <div class="text-[25px] font-bold flex justify-center pb-[15px] pt-[75px]">
                new stream
            </div>
            <form method="POST" action={% url 'nice_lite:create_stream' %} target="_parent">
                {% csrf_token %}
                <div class="grid grid-cols-2 gap-4">
                    {% for input in user_inputs %}
                        <div>{{ input.descr_short }}</div>
                        <div class="bg-nice4bg rounded">
                            {% if input.keytype == "int" %}
                                {% if input.required and "default" in input %}
                                    <input name={{ input.key }} type="number" min=0 step=1 required value={{ input.default }}></input>
                                {% elif input.required %}
                                    <input name={{ input.key }} type="number" min=0 step=1 required></input>
                                {% elif "default" in input %}
                                    <input name={{ input.key }} type="number" min=0 step=1 value={{ input.default }}></input>   
                                {% else %}
                                    <input name={{ input.key }} type="number" min=0 step=1></input>
                                {% endif %}
                            {% elif input.keytype == "float" %}
                                {% if input.required and "default" in input %}
                                    <input name={{ input.key }} type="number" min=0 step=0.0001 required value={{ input.default }}></input>
                                {% elif input.required %}
                                    <input name={{ input.key }} type="number" min=0 step=0.0001 required></input>
                                {% elif "default" in input %}
                                    <input name={{ input.key }} type="number" min=0 step=0.0001 value={{ input.default }}></input>   
                                {% else %}
                                    <input name={{ input.key }} type="number" min=0 step=0.0001></input>
                                {% endif %}
                            {% elif input.keytype == "multi" %}
                                {% if input.required %}
                                    <select name={{ input.key }} required>
                                {% else %}
                                    <select name={{ input.key }}>
                                {% endif %}
                                {% for option in input.options %}
                                    {% if "default" in option and option.default %}
                                        <option value={{ option.val }} selected>{{ option.key }}</option>
                                    {% else %}
                                        <option value={{ option.val }}>{{ option.key }}</option>
                                    {% endif %}
                                {% endfor %}
                                </select>
                            {% else %}
                                {% if input.required %}
                                    <input name={{ input.key }} required></input>
                                {% else %}
                                    <input name={{ input.key }}></input>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <div class="flex mt-[20px]">
                    <input type="submit" value="start" class="m-auto bg-nice4bg p-[5px] font-bold rounded hover:bg-nice4header hover:text-nice4bubble"></input>
                </div>
            </form>
        </div>
    </div>
</body>
</html>