{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'nice_lite/nice_lite.css' %}">
    <link rel="stylesheet" href="{% static 'nice_lite/icons.css' %}">
    <link rel="stylesheet" href="{% static 'nice_lite/streamviewreferencepicking.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/keen-slider@6.8.5/keen-slider.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/keen-slider@6.8.5/keen-slider.min.js"></script>
    <script src={% static 'nice_lite/streamviewreferencepicking.js' %}></script>
</head>
<body class="w-full h-screen bg-white pt-[15px]">
    {% if status == "running" %}
        <div class="rounded-full border-[2px] border-nicegreen bg-niceheader fixed top-0 left-[5px] font-bold px-[5px]">reference picking</div>
    {% elif status == "finished" %}
        <div class="rounded-full border-[2px] border-niceheader bg-niceheader fixed top-0 left-[5px] font-bold px-[5px]">reference picking</div>
    {% else %}
        <div class="rounded-full border-[2px] border-nicered bg-niceheader fixed top-0 left-[5px] font-bold px-[5px]">reference picking</div>
    {% endif %}
    <div class="rounded h-full bg-white flex-col flex p-[5px] border-nicecontrast border-[2px]">
        <div class="flex flex-row justify-end">
            {% if status == "running" %}    
               <form class="flex" method="POST" action={% url 'nice_lite:term_stream_reference_picking' jobid %}>
                    {% csrf_token %}
                    <button class="stopbutton h-[20px] w-[20px] cursor-pointer" onclick="this.form.submit()"></button>
                </form> 
            {% endif %}
            <form class="flex" method="POST" action={% url 'nice_lite:view_logs' jobid logfile errfile %} target="_parent">
                {% csrf_token %}
                <button class="logbutton h-[20px] w-[20px] cursor-pointer" onclick="this.form.submit()"></button>
            </form>
        </div>
        <div class="grid grid-cols-2 gap-1 text-[12px]">
            {% if status == "running" and "stage" in jobstats %}
                <div class="font-bold">status</div>
                <div>{{ jobstats.stage }}</div>
            {% elif status == "failed" %} 
                <div class="font-bold">status</div>
                <div>failed</div>
            {% elif status == "finished" %} 
                <div class="font-bold">status</div>
                <div>finished</div>
            {% endif %}
            {% if "last_micrograph_imported" in jobstats %}
                <div class="font-bold">last micrograph imported</div>
                <div>{{ jobstats.last_micrograph_imported }}</div>
            {% endif %}
            {% if "particles_extracted" in jobstats %}
                <div class="font-bold">particles extracted</div>
                <div>{{ jobstats.particles_extracted|intcomma }}</div>
            {% endif %}
        </div>
        <div class="flex flex-row">
            {% if "micrographs_imported" in jobstats and "micrographs_processed" in jobstats and "micrographs_rejected" in jobstats and jobstats.micrographs_imported > 0 %}
                <div class="flex flex-col">
                    <div class="font-bold text-[12px]">micrographs</div>
                    <div class="h-[50px] w-[150px]">
                        <canvas class="micrographs_pie_chart" data-imported={{ jobstats.micrographs_imported }} data-processed={{ jobstats.micrographs_processed }} data-rejected={{ jobstats.micrographs_rejected }}></canvas>
                    </div>
                </div>
            {% endif %}
            {% if "picking_templates" in jobstats and jobstats.picking_templates|length > 0 %}
                <div class="flex flex-col flex-1">
                    <div class="font-bold text-[12px]">picking templates</div>
                    <div id="picking_references_slider" class="keen-slider max-w-[200px]">
                        {% for template in jobstats.picking_templates %}
                            <div class="keen-slider__slide">
                                <div class="w-[50px] h-[50px] m-auto">
                                    <div style="background: url({% url 'nice_lite:image' template.path %}); background-size:{{ template.spritew }}% {{ template.spriteh }}%; background-position:{{ template.spritex }}% {{ template.spritey }}%" class="h-[50px] w-[50px] rounded m-auto"></div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>    
                </div>    
            {% endif %}
        </div>
        {% if "latest_picked_micrographs" in jobstats and jobstats.latest_picked_micrographs|length > 0 %}
            <div class="p-[10px]">
                <div id="latest_picked_micrographs_slider" class="keen-slider">
                    {% for micrograph in jobstats.latest_picked_micrographs %}
                        <div class="keen-slider__slide">
                            <div class="w-[250px] h-[250px] m-auto">
                                <canvas class="boxes_overlay fixed" height="250" width="250" data-xdim={{ micrograph.xdim }} data-ydim={{ micrograph.ydim }} data-boxes='{{ micrograph.boxes}}'></canvas>
                                <img style="background: url({% url 'nice_lite:image' micrograph.path %}); background-size:{{ micrograph.spritew }}% {{ micrograph.spriteh }}%; background-position:{{ micrograph.spritex }}% {{ micrograph.spritey }}%" class="h-[250px] w-[250px] rounded m-auto"></img>
                            </div>
                        </div>
                    {% endfor %}
                </div>  
            </div>         
        {% endif %}
    </div>
</body>
</html>