{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'nice_lite/nice_lite.css' %}">
    <link rel="stylesheet" href="{% static 'nice_lite/icons.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src={% static 'nice_lite/nice_lite.js' %}></script>
</head>
<body class="w-full h-screen flex flex-col bg-white">
    <div class="flex flex-row font-bold m-[10px]">
        <a class="nicebutton" href={% url 'nice_lite:dataset' %}>back</a> 
        <div class="flex w-[12px]">
            <div class="h-0 border-12 border-solid border-niceheader border-l-white"></div>
        </div>
        <div class="bg-niceheader px-[10px]">{{ proj }}</div>
        <div class="flex w-[12px]">
            <div class="h-0 border-12 border-solid border-transparent border-l-niceheader"></div>
        </div>
        <div class="flex w-[12px]">
            <div class="h-0 border-12 border-solid border-niceheader border-l-white"></div>
        </div>
        <div class="bg-niceheader px-[10px]">{{ dset }}</div>
        <div class="flex w-[12px]">
            <div class="h-0 border-12 border-solid border-transparent border-l-niceheader"></div>
        </div>
        <div class="flex w-[12px]">
            <div class="h-0 border-12 border-solid border-niceheader border-l-white"></div>
        </div>
        <div class="bg-niceheader px-[10px]">stream {{ jobid }}</div>
        <div class="flex w-[12px]">
            <div class="h-0 border-12 border-solid border-transparent border-l-niceheader"></div>
        </div>
    </div>
    <div class="w-full h-full flex flex-row flex-wrap">
        <div class="m-[20px]">
            <iframe id="preprocess_iframe" height="500px" width="400px" src={% url 'nice_lite:view_stream_preprocess' jobid %}></iframe>
        </div>
        <div class="m-[20px]">
            <iframe id="optics_iframe" height="500px" width="400px" src={% url 'nice_lite:view_stream_optics' jobid %}></iframe>
        </div>
        <div class="m-[20px]">
            <iframe id="inipick_iframe" height="500px" width="400px" src={% url 'nice_lite:view_stream_initial_pick' jobid %}></iframe>
        </div>
        <div class="m-[20px]">
            <iframe id="genpickrefs_iframe" height="500px" width="400px" src={% url 'nice_lite:view_stream_generate_pickrefs' jobid %}></iframe>
        </div>
        <div class="m-[20px]">
            <iframe id="refpick_iframe" height="500px" width="400px" src={% url 'nice_lite:view_stream_reference_picking' jobid %}></iframe>
        </div>
        <div class="m-[20px]">
            <iframe id="sieve_iframe" height="500px" width="400px" src={% url 'nice_lite:view_stream_sieve_particles' jobid %}></iframe>
        </div>
        <div class="m-[20px]">
            <iframe id="cls2D_iframe" height="500px" width="400px" src={% url 'nice_lite:view_stream_classification_2D' jobid %}></iframe>
        </div>
        <div class="m-[20px]">
            <iframe id="psets_iframe" height="500px" width="400px" src={% url 'nice_lite:view_stream_particle_sets' jobid %}></iframe>
        </div>
    </div>
</body>
</html>
