{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'nice_lite/nice_lite.css' %}">
    <link rel="stylesheet" href="{% static 'nice_lite/icons.css' %}">
    <link rel="stylesheet" href="{% static 'nice_lite/streamviewsieveparticles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/keen-slider@6.8.5/keen-slider.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/keen-slider@6.8.5/keen-slider.min.js"></script>
    <script src={% static 'nice_lite/streamviewsieveparticles.js' %}></script>
</head>
<body class="w-full h-screen bg-white pt-[15px]" data-wide={{ jobstats.user_input }}>
    {% if status == "running" %}
        <div class="rounded-full border-[2px] border-nicegreen bg-niceheader fixed top-0 left-[5px] font-bold px-[5px]">particle sieving</div>
    {% elif status == "finished" %}
        <div class="rounded-full border-[2px] border-niceheader bg-niceheader fixed top-0 left-[5px] font-bold px-[5px]">particle sieving</div>
    {% else %}
        <div class="rounded-full border-[2px] border-nicered bg-niceheader fixed top-0 left-[5px] font-bold px-[5px]">particle sieving</div>
    {% endif %}
    <div class="rounded h-full bg-white flex-col p-[5px] border-nicecontrast border-[2px]"">
        <div class="flex flex-row justify-end">
            {% if status == "running" %}    
               <form class="flex" method="POST" action={% url 'nice_lite:term_stream_sieve_particles' jobid %}>
                    {% csrf_token %}
                    <button class="stopbutton h-[20px] w-[20px] cursor-pointer" onclick="this.form.submit()"></button>
                </form> 
            {% endif %}
            <form class="flex" method="POST" action={% url 'nice_lite:view_logs' jobid logfile errfile %} target="_parent">
                {% csrf_token %}
                <button class="logbutton h-[20px] w-[20px] cursor-pointer" onclick="this.form.submit()"></button>
            </form>
        </div>
        <div class="flex flex-row flex-1">
            <div class="flex flex-col flex-1">
                <div class="grid grid-cols-2 gap-1 text-[12px]">
                    {% if status == "running" and "stage" in jobstats %}
                        <div class="font-bold">status</div>
                        <div>{{ jobstats.stage }}</div>
                    {% elif status == "failed" %} 
                        <div class="font-bold">status</div>
                        <div>failed</div>
                    {% elif status == "finished" %} 
                        <div class="font-bold">status</div>
                        <div>finished</div>
                    {% endif %}
                    {% if "last_particles_imported" in jobstats %}
                        <div class="font-bold">last particles imported</div>
                        <div>{{ jobstats.last_particles_imported }}</div>
                    {% endif %}
                </div>
                <div class="flex flex-row">
                    {% if "particles_imported" in jobstats and "particles_accepted" in jobstats and "particles_rejected" in jobstats and jobstats.particles_imported > 0 %}
                        <div class="flex flex-col">
                            <div class="font-bold text-[12px]">particles</div>
                            <div class="h-[50px] w-[150px]">
                                <canvas class="particles_pie_chart" data-imported={{ jobstats.particles_imported }} data-accepted={{ jobstats.particles_accepted }} data-rejected={{ jobstats.particles_rejected }}></canvas>
                            </div>
                        <div>
                    {% endif %}
                </div>
                {% if jobstats.user_input is True %}
                    <div>
                        <form method="POST" action={% url 'nice_lite:select_stream_sieve_particles' jobid %}>
                            {% csrf_token %}
                            <input type="hidden" id="accepted_cls2D" name="accepted_cls2D" value=""/>
                            <input type="hidden" id="rejected_cls2D" name="rejected_cls2D" value=""/>
                            <button class="nicebutton" onclick="selectSievecls(this.form)">use selection</button>
                        </form> 
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
            {% if jobstats.user_input is True and "accepted_cls2D" in jobstats and "rejected_cls2D" in jobstats %}
                <div class="flex flex-col flex-2 max-w-[465px]">
                    <div>
                        <div class="font-bold text-[12px]">accepted classes</div>
                        <div id="accepted_cls2D_slider" class="flex flex-row flex-wrap">
                            {% for cls2D in jobstats.accepted_cls2D %}
                                <div onclick="toggleSievecls(this)" data-idx="{{ cls2D.idx }}" style="background: url({% url 'nice_lite:image' cls2D.path %}); background-size:{{ cls2D.spritew }}% {{ cls2D.spriteh }}%; background-position:{{ cls2D.spritex }}% {{ cls2D.spritey }}%" class="sievecls h-[75px] w-[75px] rounded m-[2px]"></div>
                            {% endfor %}
                        </div> 
                    </div>
                    <div>
                        <div class="font-bold text-[12px]">rejected classes</div>
                        <div id="rejected_cls2D_slider" class="flex flex-row flex-wrap">
                            {% for cls2D in jobstats.rejected_cls2D %}
                                <div onclick="toggleSievecls(this)" data-idx="{{ cls2D.idx }}" style="background: url({% url 'nice_lite:image' cls2D.path %}); background-size:{{ cls2D.spritew }}% {{ cls2D.spriteh }}%; background-position:{{ cls2D.spritex }}% {{ cls2D.spritey }}%" class="sievecls h-[75px] w-[75px] rounded m-[2px]"></div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if "latest_accepted_cls2D" in jobstats and "latest_rejected_cls2D" in jobstats and jobstats.latest_accepted_cls2D|length > 0 or jobstats.latest_rejected_cls2D|length > 0 %}
                <div class="flex flex-col flex-2 max-w-[465px]">
                        <div>
                            <div class="font-bold text-[12px]">latest accepted classes</div>
                            <div id="accepted_cls2D_slider" class="flex flex-row flex-wrap">
                                {% for cls2D in jobstats.latest_accepted_cls2D %}
                                    <div data-idx="{{ cls2D.idx }}" style="background: url({% url 'nice_lite:image' cls2D.path %}); background-size:{{ cls2D.spritew }}% {{ cls2D.spriteh }}%; background-position:{{ cls2D.spritex }}% {{ cls2D.spritey }}%" class="sievecls h-[75px] w-[75px] rounded m-[2px]"></div>
                                {% endfor %}
                            </div> 
                        </div>
                        <div>
                            <div class="font-bold text-[12px]">latest rejected classes</div>
                            <div id="rejected_cls2D_slider" class="flex flex-row flex-wrap">
                                {% for cls2D in jobstats.latest_rejected_cls2D %}
                                    <div data-idx="{{ cls2D.idx }}" style="background: url({% url 'nice_lite:image' cls2D.path %}); background-size:{{ cls2D.spritew }}% {{ cls2D.spriteh }}%; background-position:{{ cls2D.spritex }}% {{ cls2D.spritey }}%" class="sievecls h-[75px] w-[75px] rounded m-[2px]"></div>
                                {% endfor %}
                            </div>
                        </div>
                </div>
            {% endif %}
        </div>
    </div>
</body>
</html>