{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'nice_lite/nice_lite.css' %}">
    <link rel="stylesheet" href="{% static 'nice_lite/icons.css' %}">
    <link rel="stylesheet" href="{% static 'nice_lite/streamviewclassification2D.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/keen-slider@6.8.5/keen-slider.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/keen-slider@6.8.5/keen-slider.min.js"></script>
    <script src={% static 'nice_lite/streamviewclassification2D.js' %}></script>
</head>
<body class="w-full h-screen bg-white pt-[15px]" data-wide={{ jobstats.user_input }}>
    {% if status == "running" %}
        <div class="rounded-full border-[2px] border-nicegreen bg-niceheader fixed top-0 left-[5px] font-bold px-[5px]">2D classification</div>
    {% elif status == "finished" %}
        <div class="rounded-full border-[2px] border-niceheader bg-niceheader fixed top-0 left-[5px] font-bold px-[5px]">2D classification</div>
    {% else %}
        <div class="rounded-full border-[2px] border-nicered bg-niceheader fixed top-0 left-[5px] font-bold px-[5px]">2D classification</div>
    {% endif %}
    <div class="rounded h-full bg-white flex-col p-[5px] border-nicecontrast border-[2px]">
        <div class="flex flex-row justify-end">
            {% if status == "running" %}    
               <form class="flex" method="POST" action={% url 'nice_lite:term_stream_classification_2D' jobid %}>
                    {% csrf_token %}
                    <button class="stopbutton h-[20px] w-[20px] cursor-pointer" onclick="this.form.submit()"></button>
                </form> 
            {% endif %}
            <form class="flex" method="POST" action={% url 'nice_lite:view_logs' jobid logfile errfile %} target="_parent">
                {% csrf_token %}
                <button class="logbutton h-[20px] w-[20px] cursor-pointer" onclick="this.form.submit()"></button>
            </form>
        </div>
        <div class="flex flex-row flex-1">
            <div class="flex flex-col flex-1">
                <div class="grid grid-cols-2 gap-1 text-[12px]">
                    {% if status == "running" and "stage" in jobstats %}
                        <div class="font-bold">status</div>
                        <div>{{ jobstats.stage }}</div>
                    {% elif status == "failed" %} 
                        <div class="font-bold">status</div>
                        <div>failed</div>
                    {% elif status == "finished" %} 
                        <div class="font-bold">status</div>
                        <div>finished</div>
                    {% endif %}
                    {% if "last_particles_imported" in jobstats %}
                        <div class="font-bold">last particles imported</div>
                        <div>{{ jobstats.last_particles_imported }}</div>
                    {% endif %}
                    {% if "iteration" in jobstats and jobstats.iteration > 0 %}
                        <div class="font-bold">iteration</div>
                        <div>{{ jobstats.iteration }}</div>
                    {% endif %}
                </div>
                {% if "particles_imported" in jobstats and "particles_accepted" in jobstats and "particles_rejected" in jobstats and jobstats.particles_imported > 0 %}
                    <div class="h-[100px] m-[5px]">
                        <canvas class="particles_pie_chart" data-imported={{ jobstats.particles_imported }} data-accepted={{ jobstats.particles_accepted }} data-rejected={{ jobstats.particles_rejected }}></canvas>
                    </div>
                {% endif %}
                {% if jobstats.user_input is True and status == "running" %}
                    <div>
                        <form method="POST" action={% url 'nice_lite:snapshot_stream_classification_2D' jobid %}>
                            {% csrf_token %}
                            <input type="hidden" id="snapshot_iteration" name="snapshot_iteration" value="{{ jobstats.iteration }}"/>
                            <input type="hidden" id="snapshot_selection" name="snapshot_selection" value=""/>
                            <button class="nicebutton" onclick="selectCls(this.form)">snapshot</button>
                        </form> 
                    </div>
                    <div>
                        <form method="POST" action={% url 'nice_lite:update_classification_2D_mskdiam' jobid %}>
                            {% csrf_token %}
                            <div class="font-bold text-[12px]">box size</div>
                            <div class="flex flex-row">
                                <input type="range" min=5 max=500 step=1 id="mskdiam_selector" oninput="updateMskdiam(this)" onblur="this.form.submit()"></input>
                                <input type="hidden" id="selected_mskdiam" name="mskdiam" value=""/> 
                                <div id="current_mskdiam" class="w-[20px]"></div>
                            </div>
                        </form> 
                    </div>
                {% endif %}
            </div>
            {% if jobstats.user_input is True and "latest_cls2D" in jobstats %}
                <div class="flex flex-col flex-2 max-w-[465px]">
                    <div>
                        <div class="font-bold text-[12px]">latest classes</div>
                        <div id="accepted_cls2D_slider" class="flex flex-row flex-wrap">
                            {% for cls2D in jobstats.latest_cls2D %}
                                <div onclick="toggleCls(this)" data-idx="{{ cls2D.mrcidx }}" style="background: url({% url 'nice_lite:image' cls2D.path %}); background-size:{{ cls2D.spritew }}% {{ cls2D.spriteh }}%; background-position:{{ cls2D.spritex }}% {{ cls2D.spritey }}%" class="cls2D h-[75px] w-[75px] rounded m-[2px]">
                                    <canvas class="mskcanvas" height=75 width=75 data-mskscale="{{ cls2D.mskscale }}" data-mskdiam="{{ cls2D.mskdiam }}"></canvas>
                                </div>
                            {% endfor %}
                        </div> 
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</body>
</html>