div
	h="Logfile Viewer"
	img#closebutton(
		src="img/close.png"
		onclick="history2.hideLog()"
	)
	
div
	pre#logtext=data

div#selectorbuttons
	button(onclick="history2.showLog('" + folder + "')")="Refresh"
	button(onclick="history2.hideLog()")="Close"

