.guinierwidgetpopup {
	width: 60vw;
	height: 70vh;
	left: 20vw;
	top: 15vh;
}

.guinierwidgetpopup .taskheader{
	height: 30px;
	background-color: #f4f4f4;
}

.guinierwidgetpopup #tasktitle{
	margin-left: 35px;
	padding-top: 7px;
	display: inline-block;
}

.guinierwidgetpopup .inputpage{
	padding: 5px;
}

.guinierwidgetpopup td{
	padding-left: 10px;
}

.guinierwidgetpopup td:nth-child(1){
	width:200px;
}

.guinierwidgetpopup td:nth-child(2){
	width:300px;
}

.guinierwidgetpopup #filestable{
	width:100%;
}

.guinierwidgetpopup #filestable td:nth-child(1){
	width:25px;
}

.guinierwidgetpopup #filestable tr:nth-child(odd){
	background-color: #f4f4f4;
}

.guinierwidgetpopup p{
	display: inline-block;
	font-weight: bold;
}

.guinierwidgetpopup .inputheader h{
	margin-left: 0px !important;
	padding-top: 0px !important;
}

.guinierwidgetpopup input{
	width: 100%;
	padding: 6px 10px;
	margin: 5px 0;
	box-sizing: border-box;
	border-style: solid;
	border-width: 1px;
	border-color: grey;
}

.guinierwidgetpopup .filespage{
	height: calc(70vh - 350px);
	overflow-y: auto
}


.guinierwidgetpopup .advancedbutton{
	float: right;
	padding-right: 10px;
}

.guinierwidgetpopup .inputheader{
	background-color: #f4f4f4;
	padding: 5px;
	margin: 3px;
}

.guinierwidgetpopup .widget{
	height: 16px;
}

.guinierwidgetpopup #text{
	padding: 10px;
}

.guinierwidgetpopup .taskfoldericon{
	height: 22px;
}

.guinierwidgetpopup #guinierbfac{
	padding:20px;
}

.guinierwidgetpopup #guinierchart{
        padding:20px;
}

	

