div.viewmaster
	h="Iteration"
	select#iterationselector(
		onchange="simpleview.getPostprocessVolume(this)"
	)
		each iteration in iterations
			option(
				data-file=iteration.file
			)=iteration.name
div.viewpanel
	div#litemol

