.taskselector {
	width: 60vw;
	height: 70vh;
	left: 20vw;
	top: 15vh;
}

.taskselector .inputline {
	margin:5px;
}

.taskselector .inputline p{
	display: inline-block;
	font-weight: bold;
	width: 70px;
	padding: 0px 10px;
}

.taskselector .inputline input{
	width: calc(100% - 145px);
	padding: 3px 10px;
	margin: 5px 10px;
	box-sizing: border-box;
	border-style: solid;
	border-width: 1px;
	border-color: grey;
	display: inline-block;
}

.taskselector p{
	display: inline-block;
	font-weight: bold;
}

.taskselector .tasklist{
	height: calc(70vh - 138px);
	background-color:#f4f4f4;
	padding: 5px;
	font-size: 12px;

}

.taskselector .tasklisttasks div:hover{
	background-color: lightgrey;
}

.taskselector .tasklisttasks div{
	padding: 3px;
	background-color:white;
}

.taskselector .taskselected {
	background-color: grey !important;
	color: white !important;
}

.taskselector .tasklisttasks {
    display: flex;
    flex-direction: column;
    height: calc(100% - 25px);
    overflow-y: auto;
}

.taskselector #taskdescription {
	height : 20px;
}

