div.viewheader
	img#simplepagelogo(
		src="img/square_logo_small.png"
	)
	h#simpleviewtitle(
		title="Viewing " + filename
	)="View"
	img#closebutton(
		src="img/close.png"
		onclick="taskselector.hide()"
	)

div.centerview
	div#sidebar
	div#mainpane
		div#thumbnails

